* {
	padding: 0;
	margin: 0;
	overflow: hidden;
}


html,
body {
	height: 100vh;
	width: 100vw;
}


.fn {
	background-color: rgb(255, 255, 255,0.5);
	font-family: monospace;
	font-weight: bold;
	padding: .25em;
	display: inline-flex;
	/* overflow: visible; */
	/* white-space: normal; */
	
	/* border-left: 1px solid black; */
}

#code {
	display:none;
}

.dawg{
display: flex;
flex-direction: column;
align-items: flex-start;
}


body.out0 *[selected='true'] {
	background-color: rgb(105, 227, 240);
}

body.out1 *[selected='true'] {
    background:rgb(240, 105, 105);
}
body.out2 *[selected='true'] {
    background:rgb(188, 240, 105);
}


body {
	display: flex;
	/* grid-template-columns: 30vw 70vw; */
}

body>* {
	border: none;
}

iframe {
	position: fixed;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	z-index: -99;
}

.number:not(:last-child)::after,
.string:not(:last-child)::after {
    /* content: ','; */
    /* margin-right: 0.3em; */
}
/* 
.gap {
    height: 4px;
    margin: 2px 0;
	    width: 10%;
/* }
body.out0 .gap[selected="true"] {

    background:rgb(105, 227, 240);
}
body.out1 .gap[selected="true"] {

}

body.out2 .gap[selected="true"] {

}
 */ */

.subchain {
    display: inline-flex;
    flex-direction: row;
    align-items: flex-start;
    border: 1px dashed #aaa;
    padding: 2px;
}

span {
	display:inline;
	white-space: nowrap;
}